body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.tile_walkable {
  background-color: #4C9DB8;
}

.tile_unwalkable {
  background: red;
  position: relative;
}

.tile_unwalkable:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 10px solid red;
  border-left: 10px solid #4C9DB8;
  border-right: 10px solid #4C9DB8;
  width: 20px;
  height: 0;
}

.tile_unwalkable:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 10px solid red;
  border-left: 10px solid #4C9DB8;
  border-right: 10px solid #4C9DB8;
  width: 20px;
  height: 0;
}

.tile {
  height: 40px;
}

.tile_wrapper {
  position: relative;
  max-width: 40px;
  flex: 1;
  margin: 0;
}

.tile_container {
  display: flex;
  flex-direction: row;
}

#maze_container {
  position: relative;
}

.path-container {
  position: absolute;
  top: 0;
  right: 0;
}

.svg-paths {
  fill: none;
  fill-rule: evenodd;
  stroke: #4E8D00;
  stroke-width: 8;
  stroke-linecap: round;
  stroke-linejoin: round;
}
