$groundColor_Natural: sandybrown;
$groundColor_User: peru;
$blockerColor_Natural: darkred;
$blockerColor_User: tomato;
$waypointColor: coral;

$tileSize: 40px;

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.tile {
    height: $tileSize;
    width: $tileSize;
}

.tile_color_natural {
    background-color: $groundColor_Natural;
}

.tile_color_user {
    background-color: $groundColor_User;
}

.tile_unwalkable {
    position: relative;
}

.tile_unwalkable:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-left: 10px solid $groundColor_Natural;
    border-right: 10px solid $groundColor_Natural;
    width: 20px;
    height: 0;
}

.tile_unwalkable:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-left: 10px solid $groundColor_Natural;
    border-right: 10px solid $groundColor_Natural;
    width: 20px;
    height: 0;
}

.tile_unwalkable_natural {
    @extend .tile_unwalkable;
    background-color: $blockerColor_Natural;
}

.tile_unwalkable_natural:before {
    @extend .tile_unwalkable;
    border-bottom: 10px solid $blockerColor_Natural;
}

.tile_unwalkable_natural:after {
    @extend .tile_unwalkable;
    border-top: 10px solid $blockerColor_Natural;
}

.tile_unwalkable_user {
    @extend .tile_unwalkable;
    background-color: $blockerColor_User;
}

.tile_unwalkable_user:before {
    @extend .tile_unwalkable;
    border-bottom: 10px solid $blockerColor_User;
}

.tile_unwalkable_user:after {
    @extend .tile_unwalkable;
    border-top: 10px solid $blockerColor_User;
}

.tile_waypoint {
    width: 0;
    height: 0;
    border: $tileSize/3 solid transparent;
    top: -$tileSize/3;
    //left: $tileSize/2;
    position: relative;
    border-bottom-color: $waypointColor;
}

.tile_waypoint:after {
    content: '';
    left: -$tileSize/3;
    top: $tileSize/3;
    position: absolute;
    width: 0;
    height: 0;
    border: $tileSize/3 solid transparent;
    border-top-color: $waypointColor;
}

.tile_wrapper {
    height: $tileSize;
    width: $tileSize;
    position: relative;
    display: inline-block;
}

.tile_tint_overlay {
    background-color: rgba(0,0,0,0);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.tile_tint_overlay:hover {
    background-color: rgba(255,255,255,0.5);
}

.tile_container {
}

.tile_text {
    font-size: $tileSize/2;
    font-family: 'Playfair Display SC', serif;
    font-weight: 600;

    z-index: 1000;
    pointer-events: none;
}

.absolute_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#maze_container {
    position: relative;
}

.path-container {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}

.svg-paths {
    fill: none;
    fill-rule: evenodd;
    stroke-opacity: 0.8;
    stroke: #4E8D00;
    stroke-width: 4;
    stroke-linecap: butt;
    stroke-linejoin: bevel;
}
