$groundColor: sandybrown;
$blockerColor: darkred;
$waypointColor: coral;

$tileSize: 40px;

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.tile_unwalkable {
    height: $tileSize;
    width: $tileSize;
    background-color: $blockerColor;
    position: relative;
}

.tile_unwalkable:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 10px solid $blockerColor;
    border-left: 10px solid $groundColor;
    border-right: 10px solid $groundColor;
    width: 20px;
    height: 0;
}

.tile_unwalkable:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 10px solid $blockerColor;
    border-left: 10px solid $groundColor;
    border-right: 10px solid $groundColor;
    width: 20px;
    height: 0;
}

.tile_waypoint {
    width: 0;
    height: 0;
    border: $tileSize/3 solid transparent;
    border-bottom-color: $waypointColor;
    top: -$tileSize/3;
    //left: $tileSize/2;
    position: relative;
    z-index: 500;
}

.tile_waypoint:after {
    content: '';
    left: -$tileSize/3;
    top: $tileSize/3;
    position: absolute;
    width: 0;
    height: 0;
    border: $tileSize/3 solid transparent;
    border-top-color: $waypointColor;
}

.tile_wrapper {
    height: $tileSize;
    width: $tileSize;
    background-color: $groundColor;
    position: relative;
    display: inline-block;
}

.tile_container {
}

.tile_text {
    font-size: $tileSize/2;
    font-family: 'Playfair Display SC', serif;
    font-weight: 600;

    z-index: 1000;
}

.absolute_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#maze_container {
    position: relative;
}

.path-container {
    position: absolute;
    top: 0;
    right: 0;
}

.svg-paths {
    fill: none;
    fill-rule: evenodd;
    stroke-opacity: 0.8;
    stroke: #4E8D00;
    stroke-width: 4;
    stroke-linecap: butt;
    stroke-linejoin: bevel;
}
