body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.tile_walkable {
    background-color: #4C9DB8;
}

.tile_unwalkable {
    background-color: #FF4500;
}

.tile {
    height: 40px;
}

.tile_wrapper {
    max-width: 40px;
    flex: 1;
    margin: 1px;
}

.tile_container {
    display: flex;
    flex-direction: row;
}

#maze_container {
    position: relative;
}

.path-container {
    position: absolute;
    top: 0px;
    right: 0px;
}

.svg-paths {
    fill: none;
    fill-rule: evenodd;
    stroke: #4E8D00;
    stroke-width: 8;
    stroke-linecap: round;
    stroke-linejoin: round;
}
