$groundColor_Natural: #689165;
$groundColor_User: #748067;
$blockerColor_Natural: #436436;
$blockerColor_User: #14281D;

$tileSize: 40px;

@import url('https://fonts.googleapis.com/css?family=VT323');

* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'VT323', monospace;
}

/* things that need to change with theme colors */

.tile_unwalkable_natural {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  clip-path: polygon(30% 0, 70% 0, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0 70%, 0 30%);
}

.tile_unwalkable_user {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
  clip-path: polygon(30% 0, 70% 0, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0 70%, 0 30%);
}

.maze-btn {
  background-color: $blockerColor_Natural;
  color: black;
  padding: 5px 10px;
}

.content {
  margin: 20px auto 0 auto;
}

.tile_container {
  display: flex;
  justify-content: center;
}

.tile {
  left:0; top:0; right:0; bottom:0;
}

.tile_waypoint {
  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;
}

.tile_wrapper {
  position: relative;
  display: inline-block;
}

.tile_tint_overlay {
  background-color: rgba(0,0,0,0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.tile_tint_overlay:hover {
  background-color: rgba(75,75,75,0.6);
}

.tile_container {
  display: flex;
  flex-direction: row;
}

.tile_text {
  font-size: 1em;
  font-weight: 600;

  z-index: 3;
  pointer-events: none;
}

.absolute_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translatex(-50%) translatey(-50%);
}

#maze_container {
  position: relative;
}

.path-container {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
}

#resource-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 3em;
  margin: 10px;
}

#bottom-container {
  margin: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#info-container {
  > p {
    margin: 4px;
  }
}

.svg-paths {
  fill: none;
  fill-rule: evenodd;
  stroke-opacity: 0.8;
  stroke: #4E8D00;
  stroke-width: 4;
  stroke-linecap: butt;
  stroke-linejoin: bevel;
}

.svg-paths-dashed {
  stroke-dasharray: 10;
}

.modal-overlay {
  z-index: 100;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* leaderboard stuff */

.inactive {
  display: none;
}

.hidden {
  visibility: hidden;
}

.top-scores, .closest-scores{
  width: 80%;
  flex: 1 1 auto;
}

.score {
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  * {
    width: 30%;
  }
}

.leaderboard-divider {
  height: 0;
  margin: 25px 0;
  width: 100%;
  border-bottom: 1px solid black;
}

button {
  background: none;
  font-family: 'VT323', monospace;
  outline: none;
  border: none;
  font-size: 2em;
}

.modal-columnlayout-dialog {
  padding: 50px;
  background-color: $groundColor_Natural;
  margin: auto;
  text-align: center;
  @media screen and (max-width: 767px){
    width: 90%;
  }
  @media screen and (min-width: 768px){
    width: 768px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  > h1 {
    font-size: 2em;
    margin-bottom: 0;
  }
}

.solution-link {
    text-decoration: underline;
    color: #7777ff;
    cursor: pointer;
}

/*! username popup stuff */

.username-popup {
    @extend .modal-columnlayout-dialog;
    margin-top: 50px;
    input {
      margin: 20px;
      border: none;
      outline: none;
      background: rgba(150,150,150,.6);
      font-size: 2em;
      font-family: 'VT323', monospace;
    }
}

.button_row {
    flex-direction: row;

    > button {
        flex: 1 1 auto;
    }
}

#help-container {
  position: absolute;
  z-index: 4;
  bottom: 5px;
  left: 15px;
  display: none;
  padding: 15px;
  background-color: white;
}

#help-btn {
  margin-right: 30px;
  background-color: lightgrey;
  text-align: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.help-btn-text {
  font-weight: 600;
}

#help-btn:hover {
  color: grey;
}

.bottom-left {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-score-container {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.action-points-container {
  display: flex;
  flex-direction: column;
  text-align: end;
}

.high-score {
  text-align: center;
  color: rgb(220, 0, 0);
}

button {
  cursor: pointer;
}

button:hover {
  color: grey;
}